@import "fonts";

$color-main-score: rgba(32, 97, 24, 0.9);
$color-main-winner: rgba(220, 220, 220, 0.9);
$transition: all 0.5s;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cedarville Cursive", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.hidden {
  display: none;
}

.main {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
}

.gameBoard {
  height: 100%;
  display: flex;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgba(233, 212, 90, 0.4);
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 25%);
  overflow: hidden;

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 120px;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
  }
  .player-active {
    background-color: rgba(103, 111, 161, 0.9);
  }
  .player__name {
    font-size: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .player__score {
    font-size: 90px;
    color: $color-main-score;
    margin-bottom: auto;
    padding: 1px 20px;
  }
  .player__current {
    width: 215px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $color-main-winner;
    background-color: $color-main-score;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;

    .player__current-label {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .player__current-score {
      font-size: 30px;
    }
  }
}

.additional-features {
  .dice-img {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 110px;
    box-shadow: 0 2rem 5rem rgb(0 0 0 / 10%);
    border-radius: 13%;
    -webkit-border-radius: 13%;
    -moz-border-radius: 13%;
    -ms-border-radius: 13%;
    -o-border-radius: 13%;
  }

  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background-color: rgb(245, 140, 20);
    box-shadow: 0 1.75rem 3.5rem rgb(0 0 0 / 10%);
    padding: 11px 27px;
    cursor: pointer;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    &:hover {
      background-color: $color-main-winner;
    }
  }
  .btn-new {
    top: 35px;
  }
  .btn-roll {
    top: 400px;
  }
  .btn-hold {
    top: 485px;
  }
}

/** for the game winner */
.game-winner {
  background-color: rgba(128, 34, 182, 0.7);

  .player__name {
    color: $color-main-winner;
  }
  .player__score {
    color: $color-main-winner;
    border: 3px solid $color-main-winner;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}
